/* !================= Global document styles =====================!*/

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --highlight-color: #3c2a21;
    --nav-button-color: grey;
    --section-background: #faf0e6;
}
body {
    margin: 0;
}
.sr-only {
    visibility: hidden;
}
/* ========================== Top bars ============================ */
#skip-link {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.2s;
    color: white;
    text-decoration: none;
    background-color: var(--highlight-color);
}
#skip-link:focus {
    box-shadow: 0px 0px 10px black;
    transform: translateY(0%);
}
nav {
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}
#upper-container {
    display: inline-grid;
    width: 100%;;
    grid-template-columns: 33.3% auto 33.3%;
}
/* Logo ============================ */
#logo-container {
    grid-column: 2;
    display:flex;
    justify-content: center;
    align-content:center;
    height: 20vh;
}
#logo {
    width: auto;
    height: 100%;
}
/* Toolbar ============================ */
#tools {
    /* anchor to bottom right corner of parent */
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content:flex-end;
}
#tools > a {
    font-size: x-large;
    text-decoration: none;
    padding: 30px;
    color: black;
}
#tools > a:hover, #tools > a:focus {
    color: var(--highlight-color);
}
/* Page nav ============================ */
#page-buttons {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    width: 100vw;
    gap: 5vw;
    flex-direction: row;
    justify-content: center;
    background-color: lightgrey;
}
.nav-button {
    text-transform: uppercase;
    padding: 2vh;
    flex-basis: 15vw;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: var(--nav-button-color);
}
.nav-button:hover, .nav-button:focus {
    color: white;
    background-color: var(--highlight-color);
    text-decoration: underline;
}
@media (prefers-reduced-motion: no-preference) {
    .nav-button {
        transition: flex-basis 0.5s, color 0.5s, background-color 0.5s;
    }
    .nav-button:hover, .nav-button:focus {
        flex-basis: 18vw;
    }
}
#page-buttons > .flex-dummy {
    flex-grow: 1.5;
}
/* ========================= Banner ========================== */
#banner > img {
    margin: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
}
/* ========================= Body ============================ */
.section-header {
    font-size: xx-large;
    font-weight: 150%;
    text-align: left;
}
.showcase-container {
    background-color: var(--section-background);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
}
.item-image {
    width: 100%;
    height: auto;
}
.item-showcase {
    flex-grow: 1;
}
.section-boldline {
    font-size: xx-large;
    font-weight: 150%;
    text-align: left;
}
.section-text {
    font-size: x-large;
    text-align: left;
}



button {
    background-color: #857658;
    color: #000000;
    border: none;
    font-size: 1.1rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 200px;
    height: 45px;
    overflow: hidden;
    position: relative;
    outline: none;
}
/* ========================= About Us ============================ */
.aboutus--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.aboutus--column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.aboutus--h1{
    text-align: center;
    font-size: 4vw;
    padding: 50px 50px 0px 50px;

}

.aboutus--h3{
    text-align: center;
    font-size: 1.5vw;
    padding: 0px 50px 50px 50px;
}

.aboutus--img{
    max-width: 100%;  
    height: auto;  
}

#aboutus--subscription-wrapper{
    background-color: #faf0e6;
}
#aboutus--subscription-title{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
}

#aboutus--subscription-body{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.5vw;
    padding-bottom: 40px;
}

/* ========================= Subscription ============================ */
.subscription{
    margin: 5vw;
    transform: translate(0px 100px);
}

.subscription-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.subscription-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.subscription h1{
    font-size: 3vw;
    padding: 0px 10vw 0px 0px;
    margin: 15px;

}

.subscription h2{
    font-size: 3vw;

}

.subscription h3{
    font-size: 2vw;
}

.subscription h4{
    font-size: 1vw;
    text-align: center;
}

#subscription-wrapper{
    background-color: #faf0e6;
}

#subscription-title{
    text-align: right;
    font-size: 4vw;
    margin-top: 2vw;
}

#subscription-second-title{
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
}

#subscription-body{
    text-align: left;
    padding: 0px 0vw 0px 0px;
    font-size: 2vw;

}

.subscription hr{
    height: 2px;
    background: black;
    margin-bottom: 25px;
}

.subscription-icons{
    width: 50px;  
    height: 50px;  
}

/* ========================= Login ============================ */
.loginbox{
    width: 320px;
    height: 420px;
    background: #3c2a21;
    color: #ffffff;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-background-fullscreen{
    background-image: url("../images/Login-Background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #857658;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #857658;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #A5BE7E;
    color: #000000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: orange;
    text-align: left;
}

.loginbox a:hover{
    cursor: pointer;
    color: orangered;
}
